# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/JBD.MonitorCozinha/.vs/JBD.MonitorCozinha/v15/Server/sqlite3/db.lock
/JBD.MonitorCozinha/.vs/JBD.MonitorCozinha/v15/Server/sqlite3/storage.ide
/JBD.MonitorCozinha/.vs/JBD.MonitorCozinha/v15/Server/sqlite3/storage.ide-shm
/JBD.MonitorCozinha/.vs/JBD.MonitorCozinha/v15/Server/sqlite3/storage.ide-wal
/JBD.MonitorCozinha/.vs/JBD.MonitorCozinha/v15/.suo
/JBD.MonitorCozinha/JBD.MonitorCozinha.Data/bin/Debug/netcoreapp2.2/Data.deps.json
/JBD.MonitorCozinha/JBD.MonitorCozinha.Data/obj/Debug/netcoreapp2.2
/JBD.MonitorCozinha/JBD.MonitorCozinha.Data/obj
