

<div id="mensagem" name="mensagem" style="display: none; background-color: #ff2d296b; text-align:center; height: 40px; padding-top: 5px; font-size: 20px;"><b>mensagem</b></div>
<div class="jumbotron row topJumboTrom" id="TopoPesquisa">
    <div class="col-md-8 form-group row">
        <div class="col-md-2">
            <lable>Nome empresa</lable>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" id="EmpresaPesquisar" name="EmpresaPesquisar" />
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" id="btPesquisar">Pesquisar</button>
    </div>
    @*<div class="col-md-1">
            <button class="btn btn-primary" id="btExportar">Exportar</button>
        </div>*@
    <div class="col-md-1">
        <button class="btn btn-primary" id="btNova">Cadastrar</button>
    </div>
</div>

<div id="divListarEmpresas"></div>



